.times{
    text-align: center;
    padding: 32px;
}

.times h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.times .cards{
    display: flex;
    margin-top: 32px;
    justify-content: space-around;    
    flex-wrap: wrap;
}